{% extends "/templates/_base.html" %}
{% block title %}Eventum | {{ event.event_name }}{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div class="page-header event row" data-id="{{ event.key.integer_id() }}" data-permissions="{% for guest in event.event_guests %}{% if guest.guest_id == user_entity.user_id %}{{ guest.guest_permissions }}{% endif %}{% endfor %}" data-name="{{ event.event_name }}">
            <div class="col-xs-6 col-sm-8 col-md-7 col-lg-8">
                <h1>{{ event.event_name }}</h1>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-5 col-lg-4 text-right vertical-align">
                <div class="btn-group" data-toggle="buttons" data-id="{{ event.key.integer_id() }}">
                    <label class="btn btn-default going col-xs-hide
                        {% for guest in event.event_guests %}
                            {% if user_entity.user_id == guest.guest_id and guest.guest_status == 'going' %}
                                active
                            {% endif %}
                        {% endfor %}
                    ">
                        <input type="radio" name="participation" value="going"{% for guest in event.event_guests %}{% if user_entity.user_id == guest.guest_id and guest.guest_status == "going" %} checked{% endif %}{% endfor %}><span class="glyphicon glyphicon-ok"></span><span> Going</span>
                    </label>
                    <label class="btn btn-default maybe col-xs-hide
                        {% for guest in event.event_guests %}
                            {% if user_entity.user_id == guest.guest_id and guest.guest_status == 'maybe' %}
                                active
                            {% endif %}
                        {% endfor %}
                    ">
                        <input type="radio" name="participation" value="maybe"{% for guest in event.event_guests %}{% if user_entity.user_id == guest.guest_id and guest.guest_status == "maybe" %} checked{% endif %}{% endfor %}><span class="glyphicon glyphicon-adjust"></span><span> Maybe</span>
                    </label>
                    <label class="btn btn-default notgoing col-xs-hide
                        {% for guest in event.event_guests %}
                            {% if user_entity.user_id == guest.guest_id and guest.guest_status == 'notgoing' %}
                                active
                            {% endif %}
                        {% endfor %}
                    ">
                        <input type="radio" name="participation" value="notgoing"{% for guest in event.event_guests %}{% if user_entity.user_id == guest.guest_id and guest.guest_status == "notgoing" %} checked{% endif %}{% endfor %}><span class="glyphicon glyphicon-remove"></span><span> Not Going</span>
                    </label>
                </div>
                {% for guest in event.event_guests %}
                    {% if guest.guest_id == user_entity.user_id and guest.guest_permissions == "admin" %}
                        <div class="btn-group text-left">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-right">
                                <li><a href="#" data-id="{{ event.key.integer_id() }}" class="invite"><span class="glyphicon glyphicon-share"></span> Invite</a></li>
                                <li><a href="/editEvent?id={{ event.key.integer_id() }}"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="deleteEvent" data-id="{{ event.key.integer_id() }}" data-name="{{ event.event_name }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sub-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-sub-collapse">
                <ul class="nav navbar-nav">
                    <li{% if path == "/event" %} class="active"{% endif %}><a href="/event?id={{ event.key.integer_id() }}#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    {% if event.event_options.option_date_voting_enabled == True %}<li{% if path == "/date" %} class="active"{% endif %}><a href="/date?id={{ event.key.integer_id() }}"><span class="glyphicon glyphicon-calendar"></span> Date</a></li>{% endif %}
                    {% if event.event_options.option_forum_enabled == True %}<li{% if path == "/forum" or path == "/thread" %} class="active"{% endif %}><a href="/forum?id={{ event.key.integer_id() }}"><span class="glyphicon glyphicon-comment"></span> Forum</a></li>{% endif %}
                    {% if event.event_options.option_logistics_enabled == True %}<li{% if path == "/logistics" %} class="active"{% endif %}><a href="/logistics?id={{ event.key.integer_id() }}"><span class="glyphicon glyphicon-wrench"></span> Logistics</a></li>{% endif %}
                    {% if event.event_options.option_location_type == "voting" %}<li{% if path == "/location" %} class="active"{% endif %}><a href="/location?id={{ event.key.integer_id() }}"><span class="glyphicon glyphicon-map-marker"></span> Location</a></li>{% endif %}
                    <li{% if path == "/guests" %} class="active"{% endif %}><a href="/guests?id={{ event.key.integer_id() }}"><span class="glyphicon glyphicon-user"></span> Guests</a></li>
                </ul>
                <div class="navbar-right navbar-hangout-btn">
                    <div id="g-hangout"></div>
                </div>
            </div>
        </nav>
        {% block event %}
        {% endblock %}
    </div>
{% endblock %}
