{% extends "/templates/_base.html" %}
{% block title %}Eventum{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-brand">
        <div class="container text-center">
            <img class="img-responsive img-brand" src="/static/img/airship.png">
            <h1 class="brand">Eventum</h1>
            <p>Spend less time organising, and more time socialising!</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="/static/img/organization.PNG" class="img-rounded img-responsive">
            </div>
            <div class="col-md-4 col-md-offset-1 text-center">
                <span class="glyphicon glyphicon-list glyphicon-title"></span>
                <h2>Keep resources organised</h2>
                <h4>Through the crowdsourcing and crowdfunding functions, you will be able to keep track of items required to run the event cleanly.</h4>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 text-center">
                <span class="glyphicon glyphicon-calendar glyphicon-title"></span>
                <h2>A new way to create events</h2>
                <h4>With the ability to choose what features you want for your event page, creating and organizing an event has never been so easy and seamless with the Eventum user interface.</h4>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <img src="/static/img/events.PNG" class="img-rounded img-responsive">
            </div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/takashimaya.PNG" class="img-rounded img-responsive">
            </div>
            <div class="col-md-3">
                <img src="/static/img/ri.PNG" class="img-rounded img-responsive">
            </div>
            <div class="col-md-5 col-md-offset-1 text-center">
                <span class="glyphicon glyphicon-check glyphicon-title"></span>
                <h2>Reach an agreement via voting</h2>
                <h4>Deciding where and when to hold your event with your peers is a breeze with the voting system implemented in the date and location.</h4>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
