<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="http://gcdc2013-eventum.appspot.com/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://gcdc2013-eventum.appspot.com/static/css/app.css" rel="stylesheet">
    </head>

    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>You have been invited to %s by %s <span class="text-muted">(&s)</span></h1>
                <p>%s</p>
                <p>
                    <a href="http://gcdc2013-eventum.appspot.com/eventParticipation?id=%s&participation=going" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Going</a>
                    <a href="http://gcdc2013-eventum.appspot.com/eventParticipation?id=%s&participation=maybe" class="btn btn-default"><span class="glyphicon glyphicon-adjust"></span> Maybe</a>
                    <a href="http://gcdc2013-eventum.appspot.com/eventParticipation?id=%s&participation=notgoing" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Not Going</a>
                    </div>
                </p>
            </div>
        </div>
    </body>
</html>
